@use '../variables/colors';

#client-title {
  margin-bottom: 15px;
  font-weight: bold;
}

.clients-content {
  box-shadow: 0px 0px 20px 2px rgba(209,209,209,1);
  padding: 25px;

  #addNewClientButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #clientsTable_wrapper {
    .dt-length,
    .dt-search {
      color: #2C3E50;
      font-weight: 600;

      select {
        font-weight: 500;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    #dt-search-0 {
      height: 30px;
      margin-left: 15px;
    }

    #dt-search-0:focus {
      outline: none;
    }

    #clientsTable {
      border-bottom: none;
  
      .td {
        padding: 0 18px;
        // padding: 12px 18px;
        vertical-align: middle;
        border-color: #a4a7aa;
        font-weight: 500;
        height: 50px;
      }
  
      .td-align-center {
        text-align: center;
      }
  
      .td-align-left {
        text-align: start;
      }
  
      .client-status {
        display: block;
        font-size: 10px;
        width: 100%;
        margin: 0 auto;
        height: 60%;
        line-height: 12px;
        border-radius: 30px;
        font-weight: bold;
        padding: 8px 15px;
  
        span {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
  
      .in-progress {
        color: #003C62;
        background-color: #87CEFA;
      }
  
      .awaiting-documentation {
        color: #3E2800;
        background-color: #FFA500;
      }
      .closed {
        color: #fff;
        background-color: #696969;
      }
      .new {
        color: #005100;
        background-color: #90EE90;
      }
      .pending-payment {
        color: #fff;
        background-color: #009227;
      }
      .under-review {
        color: #564800;
        background-color: #FFD700;
      }
      .awaiting-resolution {
        color: #00264A;
        background-color: #1E90FF;
      }
      .overdue {
        color: #fff;
        background-color: #FF4500;
      }
      .archived {
        color: #271300;
        background-color: #CD853F;
      }
      .pending-resolution {
        color: #fff;
        background-color: #9E49EC;
      }
  
      .btn-edit,
      .btn-delete {
        background-color: transparent;
        border: 0;
        padding: 0;
        color: #7F8C8D;
        width: 30px;
        height: 30px;

        i {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    #clientsTable_info {
      color: #2C3E50;
      font-weight: 600;
    }

    .dt-paging {
      .first {
        border-radius: 10px 0 0 10px;
      }

      .last {
        border-radius: 0 10px 10px 0;
      }
      
    }
  }

}

#deleteClientModal {
  #deleteClientButton {
    background-color: map-get(colors.$colors, "start-gradient");
    font-weight: 600;
    transition: all .3s;
  }

  #deletingClientButton {
    background-color: map-get(colors.$colors, "start-gradient");
    font-weight: 600;
    border: 1px solid map-get(colors.$colors, "start-gradient");
  }

  #deleteClientButton:hover {
    background-color: map-get(colors.$colors, "start-gradient-opacity");
  }
}

#deleteClientToast {
  strong {
    margin-left: 5px;
  }
}