@use '../variables/colors';

.section-content [id*="Table_wrapper"] {
  .lengthElementDataTable,
  .searchElementDataTable {
    color: map-get(colors.$colors, "dark-grey-secondary");
    font-weight: 600;
    font-size: 1.4rem;

    select {
      font-weight: 500;
      height: 3rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    input {
      height: 3rem;
      margin-left: 1.5rem;
    }

    input:focus {
      outline: none;
    }
  }

  th {
    color: map-get(colors.$colors, "dark-grey-secondary");
    span {
      font-weight: bold;
      font-size: 1.6rem;
    }
  }

  .td {
    padding: 0 1.8rem;
    vertical-align: middle;
    border-color: map-get(colors.$colors, "light-grey-secondary");
    font-weight: 500;
    font-size: 1.5rem;
    height: 5rem;
    color: map-get(colors.$colors, "dark-grey-secondary");
  }

  .td-align-center {
    text-align: center;
  }

  .td-align-left {
    text-align: start;
  }

  .td-w-300 {
    width: 30rem;
  }

  .btn-edit,
  .btn-delete {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: map-get(colors.$colors, "light-grey-secondary");
    width: 3rem;
    height: 3rem;

    i {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.7rem;
    }
  }

  .infoElementDataTable {
    color: map-get(colors.$colors, "dark-grey-secondary");
    font-weight: 600;
    font-size: 1.4rem;
  }

  .pagingElementDataTable {

    .dt-paging-button {
      color: map-get(colors.$colors, "dark-grey-secondary") !important;
      font-weight: 600;
      font-size: 1.4rem;
      border: 1px solid map-get(colors.$colors, "start-gradient-primary");
      margin-left: 0;
      border-radius: 0;
      transition: .3s all;
    }

    .dt-paging-button.first {
      border-radius: 5px 0 0 5px;
    }

    .dt-paging-button.last {
      border-radius: 0 5px 5px 0;
    }

    .dt-paging-button.first,
    .dt-paging-button.previous,
    .dt-paging-button.next,
    .dt-paging-button.last {
      background: map-get(colors.$colors, "start-gradient-primary");
    }

    .dt-paging-button.disabled,
    .dt-paging-button.disabled:hover {
      background: map-get(colors.$colors, "start-gradient-primary-disabled");
    }

    .dt-paging-button:not(.disabled):hover {
      background: map-get(colors.$colors, "start-gradient-secondary");
      border: 1px solid map-get(colors.$colors, "start-gradient-secondary");
      color: map-get(colors.$colors, "dark-grey-secondary") !important;
    }

    .dt-paging-button.current,
    .dt-paging-button.current:hover {
      background: map-get(colors.$colors, "start-gradient-primary");
      border: 1px solid map-get(colors.$colors, "start-gradient-primary");
    }
  }

}