// Configuration
@use '../variables/colors' as vars-colors;
@use '../variables/forms' as vars-forms;
@use '../mixins/forms' as mixins-forms;

// Local Variables
// Login Form
$login-form: map-get(vars-forms.$forms, 'login');
$login-form-title: map-get($login-form, 'title');
$login-form-input: map-get($login-form, 'input');
$login-form-checkbox: map-get($login-form, 'checkbox');
$login-form-label: map-get($login-form, 'label');
$login-form-button: map-get($login-form, 'button');
$login-form-button-link: map-get($login-form, 'button-link');
$login-form-icon: map-get($login-form, 'icon');

// Light Form
$light-mode-form: map-get(vars-forms.$forms, 'light-theme');
$light-mode-form-input: map-get($light-mode-form, 'input');
$light-mode-form-label: map-get($light-mode-form, 'label');
$light-mode-form-button: map-get($light-mode-form, 'button');

// Dark Form
$dark-mode-form: map-get(vars-forms.$forms, 'dark-theme');
$dark-mode-form-input: map-get($dark-mode-form, 'input');
$dark-mode-form-icon: map-get($dark-mode-form, 'icon');
$dark-mode-form-button: map-get($dark-mode-form, 'button');

// Styles
.form--login--sign-up {
  width: min(65%, 45rem);
  margin: 0 auto;

  .form__title {
    @include mixins-forms.form-title($login-form-title);
  }

  .form__input {
    margin-bottom: 1.4rem;
    @include mixins-forms.form-input($login-form-input);
  }

  .form__checkbox {
    @include mixins-forms.form-checkbox($login-form-checkbox);
  }

  .form__label {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    @include mixins-forms.form-label($login-form-label);
  }

  .form__button {
    @include mixins-forms.form-button($login-form-button);
  }

  .form__button__link {
    @include mixins-forms.form-button-link($login-form-button-link);
  }

  .form__icon {
    @include mixins-forms.form-icon($login-form-icon);
  }
}

.form--light--theme {
  .form__input {
    @include mixins-forms.form-input($light-mode-form-input);
  }

  .form__input__date {
    position: relative;
    .bi-calendar {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: map-get(vars-colors.$colors, 'white-opacity');
    }
  }

  .form__label {
    @include mixins-forms.form-label($light-mode-form-label);
  }

  .form__button {
    @include mixins-forms.form-button($light-mode-form-button);
  }
}

.form--dark--theme {
  position: relative;
  display: flex;
  
  .form__input {
    @include mixins-forms.form-input($dark-mode-form-input);
  }

  .form__icon {
    @include mixins-forms.form-icon($dark-mode-form-icon);
  }

  .form__button {
    @include mixins-forms.form-button($dark-mode-form-button);
  }

  .right-rounded-button {
    border-radius: 0 5px 5px 0;
  }
}