// Configuration
@use '../variables/colors' as vars-colors;
@use '../variables/forms' as vars-forms;
@use '../mixins/forms' as mixins-forms;

// Local Variables
// Login Form
$login-form: map-get(vars-forms.$forms, 'login');
$login-form-title: map-get($login-form, 'title');
$login-form-input: map-get($login-form, 'input');
$login-form-validation-error: map-get($login-form, 'validation-error');
$login-form-checkbox: map-get($login-form, 'checkbox');
$login-form-label: map-get($login-form, 'label');
$login-form-button: map-get($login-form, 'button');
$login-form-button-link: map-get($login-form, 'button-link');
$login-form-icon: map-get($login-form, 'icon');

// Default Form
$default-mode-form: map-get(vars-forms.$forms, 'default-theme');
$default-mode-form-title: map-get($default-mode-form, 'title');
$default-mode-form-input: map-get($default-mode-form, 'input');
$default-mode-form-label: map-get($default-mode-form, 'label');
$default-mode-form-button: map-get($default-mode-form, 'button');
$default-mode-form-button-cancel: map-get($default-mode-form, 'button-cancel');
$default-mode-form-icon: map-get($default-mode-form, 'icon');
$default-mode-form-icon-left: map-get($default-mode-form, 'icon-left');
$default-mode-form-icon-right: map-get($default-mode-form, 'icon-right');
$default-mode-form-validation-error: map-get($default-mode-form, 'validation-error');
$default-mode-form-validation-error-icon: map-get($default-mode-form, 'validation-error-icon');

// Dark Form
$dark-mode-form: map-get(vars-forms.$forms, 'dark-theme');
$dark-mode-form-input: map-get($dark-mode-form, 'input');
$dark-mode-form-icon: map-get($dark-mode-form, 'icon');
$dark-mode-form-button: map-get($dark-mode-form, 'button');

// Styles
.form--login--register {
  width: min(65%, 45rem);
  margin: 0 auto;

  .form__title {
    @include mixins-forms.form-title($login-form-title);
  }

  .form__input {
    @include mixins-forms.form-input($login-form-input);
  }

  .form__validation__error {
    @include mixins-forms.form-validation-error($login-form-validation-error);
  }

  .form__checkbox {
    @include mixins-forms.form-checkbox($login-form-checkbox);
  }

  .form__label {
    @include mixins-forms.form-label($login-form-label);
  }

  .form__button {
    @include mixins-forms.form-button($login-form-button);
  }

  .form__button__link {
    @include mixins-forms.form-button-link($login-form-button-link);
  }

  .form__icon {
    @include mixins-forms.form-icon($login-form-icon);
  }
}

.form--default--theme {
  .form__title {
    @include mixins-forms.form-title($default-mode-form-title);
  }

  .form__input {
    @include mixins-forms.form-input($default-mode-form-input);
  }

  .form__label {
    @include mixins-forms.form-label($default-mode-form-label);
  }

  .form__button {
    @include mixins-forms.form-button($default-mode-form-button);
  }

  .form__button__cancel {
    @include mixins-forms.form-button($default-mode-form-button-cancel);
  }

  .form__icon {
    @include mixins-forms.form-icon($default-mode-form-icon);
  }

  .form__icon__left {
    @include mixins-forms.form-icon($default-mode-form-icon-left);
  }

  .form__icon__right {
    @include mixins-forms.form-icon($default-mode-form-icon-right);
  }

  .form__validation__error {
    @include mixins-forms.form-validation-error($default-mode-form-validation-error);
  }

  .form__validation__error__icon {
    @include mixins-forms.form-validation-error-icon($default-mode-form-validation-error-icon);
  }
}

.form--dark--theme {
  .form__input {
    @include mixins-forms.form-input($dark-mode-form-input);
  }

  .form__icon__left {
    @include mixins-forms.form-icon($dark-mode-form-icon);
  }
}