@use '../variables/colors';

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none; /* Se elimina el símbolo 'x' */
}

.slide-up {
  transform: translateY(-150%);
  opacity: 0;
}

.slide-down {
  opacity: 0;
  transform: translateY(150%);
}

.slide-left {
  transform: translateX(-350%);
}

.slide-right {
  transform: translateX(350%);
}

.mb-14 {
  margin-bottom: 1.4rem;
}

.active {
  color: map-get(colors.$colors, "start-gradient-primary") !important;
  border-left: 3px solid map-get(colors.$colors, "start-gradient-primary") !important;
  border-radius: 3px !important;
}

.errorAlert {
  border-radius: 5px;
  background-color: #f8d7da;
  color: #dc3545;
  text-align: center;
  padding: 5px 0;
  font-weight: 600;
}

.navbar-menu.dark-theme {
  background-color: map-get(colors.$colors, "dark-grey-primary");
  color: map-get(colors.$colors, "custom-white");

  .navbar-menu-right {
    .dropdown {
      a {
        color: map-get(colors.$colors, "custom-white");
      }

      .dropdown-menu {
        background-color: map-get(colors.$colors, "dark-grey-primary");
      }
    }
  }
}

.content-page.dark-theme-content-page {
  background-color: map-get(colors.$colors, "dark-grey-primary");
  color: map-get(colors.$colors, "custom-white");
}