@use '../variables/colors';
@use '../variables/typography';

.background {
  font-family: typography.$montserrat;
  background: linear-gradient(to bottom left, map-get(colors.$colors, "start-gradient"), map-get(colors.$colors, "end-gradient"));

  .translucent-layer-1 {
    clip-path: polygon(27% 100%, 0% 100%, 0% 64%);
  }

  .translucent-layer-2 {
    clip-path: polygon(27% 100%, 0% 100%, 0% 0%, 3% 0%);
  }

  .translucent-layer-3 {
    clip-path: polygon(27% 100%, 0% 100%, 0% 0%, 55% 0%);
  }

  .card-body {
    background-color: map-get(colors.$colors, "dark-grey");
  }

  #container-login, 
  #container-select-sign-up,
  #container-user-sign-up,
  #container-office-sign-up {
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  }

  #login-link-from-user-sign-up, 
  #login-link-from-office-sign-up {
    font-size: 14px;
    cursor: pointer;
  }

  #login-link-from-user-sign-up:hover, 
  #login-link-from-office-sign-up:hover {
    text-decoration: underline;
  }

  #card-login,
  #card-select-sign-up,
  #card-user-sign-up,
  #card-office-sign-up {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  #card-login {
    height: 620px;

    img {
      height: 250px;
    }

    .card-body {
      .save-lost-password {
        font-size: 14px;
        color: map-get(colors.$colors, "white-opacity");

        a {
          color: map-get(colors.$colors, "white-opacity");
        }
      }

      .bg-danger-subtle {
        font-size: 15px;
      }
    }
  }
  
  .sign-up-div {
    height: 60px;
  }

  #sign-up-link {
    cursor: pointer;
  }

  #sign-up-link:hover {
    text-decoration: underline;
  }

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    font-size: 16px;
  }

  @media (max-width: 1400px) {
    #card-login {
      .card-body {
        .save-lost-password {
          font-size: 12px;
        }

        .bg-danger-subtle {
          font-size: 14px;
        }
      }
    }

    .footer {
      font-size: 14px;
    }
  }

  @media (max-width: 992px) {
    #card-login {
      .card-body {
        .bg-danger-subtle {
          font-size: 13px;
        }

        .bg-danger-subtle {
          font-size: 13px;
        }
      }
    }

    .sign-up-div {
      font-size: 14px;
    }
  }

  @media (max-width: 576px) {
    #card-login {
      .card-body {
        .bg-danger-subtle {
          font-size: 11px;
        }
      }
    }

    .sign-up-div {
      font-size: 12px;
    }

    .footer {
      font-size: 14px;
    }
  }

  #card-select-sign-up {
    height: 490px;

    img {
      height: 490px;
    }

    .card-body {
      height: 100%;

      #user-sign-up-link,
      #office-sign-up-link {
          background-color: map-get(colors.$colors, "dark-grey");
          height: 60px;
          font-size: 18px;
          font-weight: 600;
          color: map-get(colors.$colors, "custom-white");
          transition: all 0.3s ease-in-out;
        }

        #user-sign-up-link:hover, 
        #office-sign-up-link:hover {
          color: map-get(colors.$colors, "dark-grey");
          background-color: map-get(colors.$colors, "custom-white");
        }
      }

      @media (max-width: 992px) {
        height: 390px;

        img {
          height: 390px;
        }

        h3 {
          font-size: 20px;
        }

        .card-body {
          #user-sign-up-link,
          #office-sign-up-link {
            height: 50px;
            font-size: 14px;
            font-weight: 500;
          }
        }

      }

      @media (max-width: 768px) {
        height: 550px;
        img {
          height: 160px;
        }
        .card-body {
          height: 390px;
        }
      }
  }

  #card-user-sign-up {
    height: 820px;

    img {
      height: 150px;
    }

    @media (max-width: 576px) {
      height: 910px;
    }

    @media (max-width: 425px) {
      .bg-danger-subtle {
        font-size: 13px;
      }
    }

    @media (max-width: 375px) {
      .bg-danger-subtle {
        font-size: 11px;
      }
    }

    @media (max-width: 320px) {
      .bg-danger-subtle {
        font-size: 10px;
      }
    }
  }

  #card-office-sign-up {
    height: 550px;

    img {
      height: 150px;
    }

    @media (max-width: 576px) {
      height: 600px;
    }

    @media (max-width: 425px) {
      .bg-danger-subtle {
        font-size: 13px;
      }
    }

    @media (max-width: 375px) {
      .bg-danger-subtle {
        font-size: 11px;
      }
    }

    @media (max-width: 320px) {
      .bg-danger-subtle {
        font-size: 10px;
      }
    }
  }

}