@use '../variables/sizes';
@use '../variables/colors';
@use '../variables/typography';

.page {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background-color: map-get(colors.$colors, "dark-grey");
}

.asidebar-menu {
  position: absolute;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width");
  height: 100vh;
  min-width: map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width");
  background-color: map-get(colors.$colors, "dark-grey");

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");
    min-height: map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");

    img {
      height: 30px;
    }
  }

  .asidenav-menu {
    height: calc(100vh - 140px);
    padding-top: 20px;
    overflow-y: auto;
    width: 100%;

    .list-group-item-custom {
      background-color: transparent;
      font-family: typography.$montserrat;
      border: none;
      width: 100%;

      .asidenav-menu-button {
        display: flex;
        align-items: center;
        background-color: transparent;
        color: map-get(colors.$colors, "white-opacity");
        border: none;
        padding: 0;
        width: 100%;

        .icon-button {
          flex-basis: 15%;
          text-align: center;
          font-size: 15px;
        }

        .text-button {
          flex-basis: 85%;
          font-size: 17px;
          font-weight: 600;
          text-align: start;
        }
      }

      .accordion-button {
        box-shadow: none;
      }

      .accordion-button:not(.collapsed) {
        color: white;
      }

      .accordion-button::after {
        display: none;
      }

      .arrow-button-custom {
        transition: transform 0.3s ease;
      }
      
      .accordion-button:not(.collapsed) .arrow-button-custom {
        transform: rotate(0deg);
        color: white;
      }
      
      .accordion-button.collapsed .arrow-button-custom {
        transform: rotate(-90deg);
      }

      .accordion-body-custom {
        padding: 5px 0 0 8px;

        .list-group-item-custom-level-1 {
          width: 100%;

          .button-custom {
            display: flex;
            align-items: center;
            background-color: transparent;
            color: map-get(colors.$colors, "white-opacity");
            border: none;
            transition: color 0.3s ease;
            width: 100%;

            .icon-button {
              flex-basis: 12%;
              text-align: center;
              font-size: 13px;
            }
    
            .text-button {
              flex-basis: 88%;
              text-align: start;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
      
    }
  }

  .asidenav-menu::-webkit-scrollbar {
    width: 8px;
  }

  .asidenav-menu::-webkit-scrollbar-thumb {
      border-radius: 8px;
  }

  .asidenav-menu::-webkit-scrollbar-thumb:hover,
  .scrolling::-webkit-scrollbar-thumb {
    background-color: #415263;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: map-get(sizes.$sizes-aside-nav-menu, "footer");
    min-height: map-get(sizes.$sizes-aside-nav-menu, "footer");
    font-size: 11px;
    width: 90%;

    .text-footer {
      text-align: end;
      font-weight: 600;
      
      p {
        color: map-get(colors.$colors, "white-opacity");
        margin: 0;
      }
    }

    .img-footer {
      img {
        height: 25px;
      }
    }
  }
}

.navbar-menu {
  position: absolute;
  left: map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width");
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: typography.$montserrat;
  background-color: map-get(colors.$colors, "dark-grey");
  height: map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");
  min-height: map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");
  width: calc(100% - map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width"));

  .navbar-menu-left {
    display: flex;
    justify-content: start;
    align-items: center;

    .button {
      background-color: transparent;
      border: 0;
      margin: 0 25px;
      cursor: pointer;
  
      .burger {
        color: map-get(colors.$colors, "custom-white");
      }
    }
  }

  .navbar-menu-right {
    display: flex;
    justify-content: end;
    align-items: center;

    .icons {
      display: flex;
      align-items: center;
      margin-right: 50px;

      .app-dots,
      .gear,
      .moon {
        color: map-get(colors.$colors, "custom-white");
        margin: 0 10px;
        font-size: 23px;
        cursor: pointer;
      }

      .app-dots {
        font-size: 32px;
      }
    }

    .profile {
      display: flex;
      cursor: pointer;

      .data-profile {
        display: flex;
        flex-direction: column;
        align-items: end;
        color: map-get(colors.$colors, "custom-white");
        margin-right: 15px;

        .name-user {
          font-size: 16px;
          font-weight: 600;
          margin: 0 0 -5px 0;
        }

        .position-user {
          font-size: 12px;
          font-weight: 200;
          margin: 0;
        }
      }

      .img-profile {
        margin-right: 25px;
  
        .profile-photo {
          height: 40px;
          width: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

  }
}

.content-page {
  position: absolute;
  left: map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width");
  top:map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");
  height: calc(100vh - map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height"));
  width: calc(100% - map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width"));
  border-top-left-radius: 10px;
  background-color: #fff;
  padding: 20px 30px;
  overflow-y: auto;
  font-family: typography.$montserrat;
}