@use '../variables/sizes';
@use '../variables/colors';

.page {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background-color: map-get(colors.$colors, "dark-grey");
}

.asidebar-menu {
  position: absolute;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width");
  height: 100vh;
  min-width: map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width");
  background-color: map-get(colors.$colors, "dark-grey");

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");
    min-height: map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");

    img {
      height: 3rem;
    }
  }

  .asidenav-menu {
    height: calc(100vh - 14rem);
    padding-top: 2rem;
    overflow-y: auto;
    width: 100%;

    .list-group-item-custom {
      background-color: transparent;
      border: none;
      width: 100%;

      .asidenav-menu-button {
        display: flex;
        align-items: center;
        background-color: transparent;
        color: map-get(colors.$colors, "white-opacity");
        border: none;
        padding: 0;
        width: 100%;

        .icon-button {
          flex-basis: 15%;
          text-align: center;
          font-size: 1.5rem;
        }

        .text-button {
          flex-basis: 85%;
          font-size: 1.7rem;
          font-weight: 600;
          text-align: start;
        }
      }

      .accordion-button {
        box-shadow: none;
      }

      .accordion-button:not(.collapsed) {
        color: white;
      }

      .accordion-button::after {
        display: none;
      }

      .arrow-button-custom {
        transition: transform 0.3s ease;
      }
      
      .accordion-button:not(.collapsed) .arrow-button-custom {
        transform: rotate(0deg);
        color: white;
      }
      
      .accordion-button.collapsed .arrow-button-custom {
        transform: rotate(-90deg);
      }

      .accordion-body-custom {
        padding: .5rem 0 0 .8rem;

        .list-group-item-custom-level-1 {
          width: 100%;

          .button-custom {
            display: flex;
            align-items: center;
            background-color: transparent;
            color: map-get(colors.$colors, "white-opacity");
            border: none;
            transition: color 0.3s ease;
            width: 100%;

            .icon-button {
              flex-basis: 12%;
              text-align: center;
              font-size: 1.3rem;
            }
    
            .text-button {
              flex-basis: 88%;
              text-align: start;
              font-size: 1.4rem;
              font-weight: 500;
            }
          }
        }
      }
      
    }
  }

  .asidenav-menu::-webkit-scrollbar {
    width: .8rem;
  }

  .asidenav-menu::-webkit-scrollbar-thumb {
      border-radius: .8rem;
  }

  .asidenav-menu::-webkit-scrollbar-thumb:hover,
  .scrolling::-webkit-scrollbar-thumb {
    background-color: #415263;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: map-get(sizes.$sizes-aside-nav-menu, "footer");
    min-height: map-get(sizes.$sizes-aside-nav-menu, "footer");
    font-size: 1.1rem;
    width: 90%;

    .text-footer {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1.5rem;
      font-weight: 600;
      
      p {
        color: map-get(colors.$colors, "white-opacity");
        line-height: 0;
      }
    }

    img {
      height: 2.8rem;
    }
  }
}

.navbar-menu {
  position: absolute;
  left: map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width");
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: map-get(colors.$colors, "dark-grey");
  height: map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");
  min-height: map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");
  width: calc(100% - map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width"));

  .navbar-menu-left {
    display: flex;
    justify-content: start;
    align-items: center;

    .button {
      background-color: transparent;
      border: 0;
      margin: 0 2.5rem;
      cursor: pointer;
  
      .burger {
        color: map-get(colors.$colors, "custom-white");
      }
    }
  }

  .navbar-menu-right {
    display: flex;
    // justify-content: end;
    align-items: center;
    height: 100%;
    gap: 1.5rem;

    .arrow-none:after {
      display: none;
    }

    .dropdown {

      a {
        color: map-get(colors.$colors, "custom-white");
        cursor: pointer;

        i {
          font-size: 2.1rem;
        }

        img {
          width: 1.9rem;
        }

        span {
          font-size: 1rem;
        }
      }

      .dropdown-menu {
        background-color: map-get(colors.$colors, "dark-grey");
        border-color: map-get(colors.$colors, "white-opacity");
        padding: 1rem;

        .dropdown-row-items {
          display: flex;
          justify-content: space-around;
          align-items: end;

          .dropdown-icon-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;

            img {
              width: 2.4rem;
            }
  
            span {
              font-size: 1.3rem;
            }
          }
        }

        .dropdown-notification {
          display: flex;
          justify-content: space-between;
          color: map-get(colors.$colors, "custom-white");
          width: 35rem;
          padding: 1rem;

          .dropdown-notification-item {
            display: flex;
            align-items: center;
            gap: 1rem;

            .dropdown-notification-item-text {
              display: flex;
              flex-direction: column;

              strong {
                // border-bottom: .2rem solid map-get(colors.$colors, "custom-white");
              }

              span {
                // margin-top: 1rem;
              }
            }

            img,
            i {
              width: 2.4rem;
            }

            span {
              font-size: 1.3rem;
              line-height: 1.3rem;
            }
          }

          .truncate {
            max-width: 25rem;
            white-space: nowrap; /* Se imprime en una línea */
            overflow: hidden;
            text-overflow: ellipsis; /* Añade los puntos suspensivos (...) */
          }

          .dropdown-notification-item-close {
            color: map-get(colors.$colors, "custom-white");
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    

    // .icons {
    //   display: flex;
    //   align-items: center;
    //   margin-right: 2.5rem;

    //   .app-dots,
    //   .gear,
    //   .moon {
    //     color: map-get(colors.$colors, "custom-white");
    //     margin: 0 1rem;
    //     font-size: 2.3rem;
    //     cursor: pointer;
    //   }

    //   .app-dots {
    //     font-size: 3.2rem;
    //   }
    // }

    // .profile {
    //   display: flex;
    //   align-items: center;
    //   padding: 0 2rem;
    //   height: 100%;
    //   cursor: pointer;

    //   .data-profile {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: end;
    //     color: map-get(colors.$colors, "custom-white");
    //     margin-right: 1.5rem;

    //     .name-user {
    //       font-size: 1.6rem;
    //       font-weight: 600;
    //       margin: 0 0 -.5rem 0;
    //     }

    //     .position-user {
    //       font-size: 1.2rem;
    //       font-weight: 200;
    //       margin: 0;
    //     }
    //   }

    //   img {
    //     width: 4rem;
    //     height: 4rem;
    //     object-fit: cover;
    //     border-radius: 50%;
    //   }
    // }

  }
}

.content-page {
  position: absolute;
  left: map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width");
  top:map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");
  height: calc(100vh - map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height"));
  width: calc(100% - map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width"));
  border-top-left-radius: 1rem;
  background-color: #fff;
  padding: 2rem 3rem;
  overflow-y: auto;
}