@use '../variables/sizes';
@use '../variables/colors';

.page {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  color: map-get(colors.$colors, "custom-white");
}

.asidebar-menu {
  position: absolute;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width");
  height: 100vh;
  min-width: map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width");
  background-color: map-get(colors.$colors, "dark-grey-primary");

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");
    min-height: map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");

    img {
      height: 3rem;
    }
  }

  .asidenav-menu {
    height: calc(100vh - 14rem);
    padding-top: 2rem;
    overflow-y: auto;
    width: 100%;

    .list-group-item-custom {
      background-color: transparent;
      border: none;
      width: 100%;

      .asidenav-menu-button {
        display: flex;
        align-items: center;
        background-color: transparent;
        color: map-get(colors.$colors, "light-grey-secondary");
        border: none;
        padding: 0;
        width: 100%;

        .icon-button {
          flex-basis: 15%;
          text-align: center;
          font-size: 1.5rem;
        }

        .text-button {
          flex-basis: 85%;
          font-size: 1.7rem;
          font-weight: 600;
          text-align: start;
        }
      }

      .accordion-button {
        box-shadow: none;
      }

      .accordion-button:not(.collapsed) {
        color: white;
      }

      .accordion-button::after {
        display: none;
      }

      .arrow-button-custom {
        transition: transform 0.3s ease;
      }

      .accordion-button:not(.collapsed) .arrow-button-custom {
        transform: rotate(0deg);
        color: white;
      }

      .accordion-button.collapsed .arrow-button-custom {
        transform: rotate(-90deg);
      }

      .accordion-body-custom {
        padding: .5rem 0 0 .8rem;

        .list-group-item-custom-level-1 {
          width: 100%;

          .button-custom {
            display: flex;
            align-items: center;
            background-color: transparent;
            color: map-get(colors.$colors, "light-grey-secondary");
            border: none;
            transition: color 0.3s ease;
            width: 100%;

            .icon-button {
              flex-basis: 12%;
              text-align: center;
              font-size: 1.3rem;
            }

            .text-button {
              flex-basis: 88%;
              text-align: start;
              font-size: 1.4rem;
              font-weight: 500;
            }
          }
        }
      }

    }
  }

  .asidenav-menu::-webkit-scrollbar {
    width: .8rem;
  }

  .asidenav-menu::-webkit-scrollbar-thumb {
      border-radius: .8rem;
  }

  .asidenav-menu::-webkit-scrollbar-thumb:hover,
  .scrolling::-webkit-scrollbar-thumb {
    background-color: #415263;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: map-get(sizes.$sizes-aside-nav-menu, "footer");
    min-height: map-get(sizes.$sizes-aside-nav-menu, "footer");
    font-size: 1.1rem;
    width: 90%;

    .text-footer {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1.5rem;
      font-weight: 600;

      p {
        color: map-get(colors.$colors, "light-grey-secondary");
        line-height: 0;
      }
    }

    img {
      height: 2.8rem;
    }
  }
}

.navbar-menu {
  position: absolute;
  left: map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width");
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");
  min-height: map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");
  width: calc(100% - map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width"));
  background-color: map-get(colors.$colors, "custom-white");
  color: map-get(colors.$colors, "dark-grey-primary");
  transition: background-color 0.3s, color 0.3s;

  .navbar-menu-left {
    display: flex;
    justify-content: start;
    align-items: center;

    .burger {
      margin: 0 2.5rem;
      color: map-get(colors.$colors, "dark-grey-secondary");
    }

    form {
      position: relative;
      display: flex;

      .right-rounded-button {
        border-radius: 0 .5rem .5rem 0;
      }
    }
  }

  .navbar-menu-right {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1.5rem;

    .arrow-none:after {
      display: none;
    }

    i:not(.fa-xmark) {
      font-size: 2.1rem;
    }

    .dropdown {
      height: 100%;
      display: flex;
      align-items: center;

      a {
        color: map-get(colors.$colors, "dark-grey-primary");
      }

      .dropdown-toggle {
        cursor: pointer;

        img {
          width: 1.9rem;
        }

        span {
          font-size: 1rem;
        }
      }

      .dropdown-toggle.profile {
        display: flex;
        align-items: center;
        padding: 0 2rem;
        height: 100%;
        transition: .3s background-color;

        img {
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          border-radius: 50%;
          outline: .1rem solid map-get(colors.$colors, "dark-grey-secondary");
        }

        .data-profile {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          color: map-get(colors.$colors, "dark-grey-secondary");
          height: 4rem;
          gap: 1.8rem;
          padding-left: 1rem;

          .name-user {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 0;
          }

          .position-user {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 0;
          }
        }
      }

      .dropdown-toggle.profile:hover {
        background-color: map-get(colors.$colors, "light-white");
      }

      .dropdown-menu {
        border-color: map-get(colors.$colors, "light-grey-secondary");
        padding: 1rem;


        .dropdown-row-items {
          display: flex;
          justify-content: space-around;
          align-items: end;

          .dropdown-icon-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            width: 100%;

            img {
              width: 2.4rem;
            }

            span {
              font-size: 1.3rem;
            }
          }
        }

        .dropdown-icon-item:hover {
          background-color: map-get(colors.$colors, "light-white");
        }

        .dropdown-notification {
          display: flex;
          justify-content: space-between;
          width: 35rem;
          padding: 1rem;

          .dropdown-notification-item {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: map-get(colors.$colors, "dark-grey-secondary");

            .dropdown-notification-item-text {
              display: flex;
              flex-direction: column;
            }

            img,
            i {
              width: 2.4rem;
            }

            i {
              color: map-get(colors.$colors, "dark-grey-secondary");
            }

            span {
              font-size: 1.3rem;
              line-height: 1.3rem;
            }
          }

          .truncate {
            max-width: 25rem;
            white-space: nowrap; /* Se imprime en una línea */
            overflow: hidden;
            text-overflow: ellipsis; /* Añade los puntos suspensivos (...) */
          }

          .dropdown-notification-item-close {
            color: map-get(colors.$colors, "dark-grey-secondary");
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .dropdown-notification:hover,
        .dropdown-profile:hover .dropdown-profile-item {
          background-color: map-get(colors.$colors, "light-white");
        }

        .dropdown-profile-item {
          display: flex;
          align-items: center;
          gap: .5rem;
          font-size: 1.4rem;
          padding: .2rem .5rem;
          color: map-get(colors.$colors, "dark-grey-secondary");

          i {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

.content-page {
  position: absolute;
  left: map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width");
  top:map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height");
  height: calc(100vh - map-get(sizes.$sizes-aside-nav-menu, "navbar-menu-height"));
  width: calc(100% - map-get(sizes.$sizes-aside-nav-menu, "asidenav-menu-width"));
  background-color: map-get(colors.$colors, "light-grey-primary");
  padding: 2rem 3rem;
  overflow-y: auto;
  transition: background-color 0.3s, color 0.3s;
  color: map-get(colors.$colors, "dark-grey-primary");
}