@use '../../../variables/colors';

.section-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: map-get(colors.$colors, "dark-grey-secondary");
}

.section-content {
  box-shadow: 0 0 2rem .2rem rgba(209,209,209,1);
  padding: 2.5rem;

  .add-new-item-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 17rem;
    margin-bottom: 1rem;
  }
}