@mixin form-title($title-type) {
  font-size: map-get($title-type, 'fs');
  font-weight: map-get($title-type, 'font-weight');
  color: map-get($title-type, 'color');
  text-align: map-get($title-type, 'ta');
}

@mixin form-input($input-type) {
  border: map-get($input-type, 'border');
  outline: map-get($input-type, 'outline');
  background-color: map-get($input-type, 'bg');
  font-size: map-get($input-type, 'fs');
  font-weight: map-get($input-type, 'fw');
  color: map-get($input-type, 'color');
  border-radius: map-get($input-type, 'br');
  padding: map-get($input-type, 'padding');
  max-width: map-get($input-type, 'mw');
  height: map-get($input-type, 'height');
  transition: map-get($input-type, 'transition');

  &::placeholder {
    color: map-get(map-get($input-type, 'placeholder'), 'color');
    font-weight: map-get(map-get($input-type, 'placeholder'), 'fw');
  }

  &:focus {
    box-shadow: map-get(map-get($input-type, 'focus'), 'bs');
    border-color: map-get(map-get($input-type, 'focus'), 'bc');
    outline-color: map-get(map-get($input-type, 'focus'), 'oc');
  }
}

@mixin form-validation-error($validation-error-type) {
  color: map-get($validation-error-type, 'color');
  font-size: map-get($validation-error-type, 'fs');
  font-weight: map-get($validation-error-type, 'fw');
}

@mixin form-checkbox($checkbox-type) {
  border: map-get($checkbox-type, 'border');
  background-color: map-get($checkbox-type, 'bg');
  font-size: map-get($checkbox-type, 'fs');
  transition: map-get($checkbox-type, 'transition');
  &:focus {
    box-shadow: map-get(map-get($checkbox-type, 'focus'), 'box-shadow');
    border-color: map-get(map-get($checkbox-type, 'focus'), 'border-color');
  }
}

@mixin form-radio($radio-type) {
  border: map-get($radio-type, 'border');
  background-color: map-get($radio-type, 'bg');
  width: map-get($radio-type, 'width');
  height: map-get($radio-type, 'height');
  &:checked {
    box-shadow: map-get(map-get($radio-type, 'checked'), 'box-shadow');
  }
}

@mixin form-select-option($select-option-type) {
  background-color: map-get($select-option-type, 'bg');;
}

@mixin form-label($label-type) {
  font-family: map-get($label-type, 'font-family');
  font-size: map-get($label-type, 'font-size');
  font-weight: map-get($label-type, 'font-weight');
  color: map-get($label-type, 'color');
}

@mixin form-button($button-type) {
  background-color: map-get($button-type, 'bg');
  width: map-get($button-type, 'width');
  height: map-get($button-type, 'height');
  font-size: map-get($button-type, 'font-size');
  font-weight: map-get($button-type, 'font-weight');
  color: map-get($button-type, 'color');
  border-radius: map-get($button-type, 'br');
  border: map-get($button-type, 'border');
  transition: map-get($button-type , 'transition');

  &:hover {
    background-color: map-get(map-get($button-type, 'hover'), 'bc');
  }
}

@mixin form-button-link($button-link-type) {
  background-color: map-get($button-link-type, "bc");
  border: map-get($button-link-type, "border");
  text-decoration: map-get($button-link-type, "td");
  color: map-get($button-link-type, "color");
}

@mixin form-icon($icon-type) {
  position: map-get($icon-type, 'position');
  left: map-get($icon-type, 'left');
  top: map-get($icon-type, 'top');
  transform: map-get($icon-type, 'transform');
  color: map-get($icon-type, 'color');
  font-size: map-get($icon-type, 'fs');
  width: map-get($icon-type, 'width');
}