@mixin form-title($title-type) {
  font-size: map-get($title-type, 'fs');
  font-weight: map-get($title-type, 'font-weight');
  color: map-get($title-type, 'color');
  text-align: map-get($title-type, 'ta');
  margin-top: map-get($title-type, 'mt');
}

@mixin form-input($input-type) {
  font-size: map-get($input-type, 'fs');
  font-weight: map-get($input-type, 'fw');
  border-radius: map-get($input-type, 'br');
  box-shadow: map-get($input-type, 'bs');
  padding: map-get($input-type, 'padding');
  color: map-get($input-type, 'color');
  border: map-get($input-type, 'border');
  height: map-get($input-type, 'height');
  background-color: map-get($input-type, 'bg');
  margin-bottom:map-get($input-type, 'mb');
  transition: map-get($input-type, 'transition');
  &::placeholder {
    color: map-get(map-get($input-type, 'placeholder'), 'color');
  }

  &:focus {
    border-color: map-get(map-get($input-type, 'focus'), 'bc');
  }
}

@mixin form-validation-error($validation-error-type) {
  display: map-get($validation-error-type, 'display');;
  color: map-get($validation-error-type, 'color');
  font-size: map-get($validation-error-type, 'fs');
  font-weight: map-get($validation-error-type, 'fw');
  margin-bottom: map-get($validation-error-type, 'mb');
}

@mixin form-validation-error-icon($validation-error-type) {
  margin-right: map-get($validation-error-type, 'mr');;
}

@mixin form-checkbox($checkbox-type) {
  border: map-get($checkbox-type, 'border');
  background-color: map-get($checkbox-type, 'bg');
  font-size: map-get($checkbox-type, 'fs');
  transition: map-get($checkbox-type, 'transition');
  &:focus {
    box-shadow: map-get(map-get($checkbox-type, 'focus'), 'box-shadow');
    border-color: map-get(map-get($checkbox-type, 'focus'), 'border-color');
  }
}

@mixin form-radio($radio-type) {
  border: map-get($radio-type, 'border');
  background-color: map-get($radio-type, 'bg');
  width: map-get($radio-type, 'width');
  height: map-get($radio-type, 'height');
  &:checked {
    box-shadow: map-get(map-get($radio-type, 'checked'), 'box-shadow');
  }
}

@mixin form-select-option($select-option-type) {
  background-color: map-get($select-option-type, 'bg');
}

@mixin form-label($label-type) {
  display: map-get($label-type, 'display');
  align-items: map-get($label-type, 'ai');
  font-family: map-get($label-type, 'font-family');
  font-size: map-get($label-type, 'font-size');
  font-weight: map-get($label-type, 'font-weight');
  color: map-get($label-type, 'color');
}

@mixin form-button($button-type) {
  background-color: map-get($button-type, 'bc');
  width: map-get($button-type, 'width');
  height: map-get($button-type, 'height');
  font-size: map-get($button-type, 'font-size');
  font-weight: map-get($button-type, 'font-weight');
  color: map-get($button-type, 'color');
  border-radius: map-get($button-type, 'br');
  border: map-get($button-type, 'border');
  transition: map-get($button-type , 'transition');

  &:hover {
    background-color: map-get(map-get($button-type, 'hover'), 'bc');
  }
}

@mixin form-button-link($button-link-type) {
  background-color: map-get($button-link-type, "bc");
  border: map-get($button-link-type, "border");
  text-decoration: map-get($button-link-type, "td");
  color: map-get($button-link-type, "color");
}

@mixin form-icon($icon-type) {
  position: map-get($icon-type, 'position');
  left: map-get($icon-type, 'left');
  right: map-get($icon-type, 'right');
  top: map-get($icon-type, 'top');
  transform: map-get($icon-type, 'transform');
  color: map-get($icon-type, 'color');
  font-size: map-get($icon-type, 'fs');
  width: map-get($icon-type, 'width');
}