<li class="list-group-item list-group-item-custom accordion-item">
  <button class="accordion-button asidenav-menu-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-crm" aria-expanded="false" aria-controls="collapse-crm">
    <i class="fa-solid fa-gavel icon-button"></i>
    <span class="text-button">CRM</span>
    <i class="fa-solid fa-chevron-down fa-rotate-270 fa-2xs arrow-button-custom"></i>
  </button>
  <div id="collapse-crm" class="accordion-collapse collapse" data-bs-parent="#asidenav-menu">
    <div class="accordion-body-custom">
      <ul class="list-group">
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="clients-crm-button" type="button" class="button-custom">
            <i class="fa-solid fa-address-book icon-button"></i>
            <span class="text-button">Clientes</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="users-crm-button" type="button" class="button-custom">
            <i class="bi bi-people-fill icon-button"></i>
            <span class="text-button">Usuarios</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="legal-proceedings-crm-button" type="button" class="button-custom">
            <i class="fa-solid fa-scale-balanced icon-button"></i>
            <span class="text-button">Procesos Judiciales</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="document-templates-crm-button" type="button" class="button-custom">
            <i class="fa-solid fa-file-lines icon-button"></i>
            <span class="text-button">Modelos de Documentos</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="digital-signature-crm-button" type="button" class="button-custom">
            <i class="fa-solid fa-file-signature icon-button"></i>
            <span class="text-button">Firma Digital</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="issues-crm-button" type="button" class="button-custom">
            <i class="fa-solid fa-triangle-exclamation icon-button"></i>
            <span class="text-button">Incidencias</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="emails-crm-button" type="button" class="button-custom">
            <i class="fa-solid fa-envelope icon-button"></i>
            <span class="text-button">Emails</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</li>