<li class="list-group-item list-group-item-custom accordion-item">
  <button class="accordion-button asidenav-menu-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-dashboard" aria-expanded="false" aria-controls="collapse-dashboard">
    <i class="fa-solid fa-house icon-button"></i>
    <span class="text-button">Dashboard</span>
    <i class="fa-solid fa-chevron-down fa-rotate-270 fa-2xs arrow-button-custom"></i>
  </button>
  <div id="collapse-dashboard" class="accordion-collapse collapse" data-bs-parent="#asidenav-menu">
    <div class="accordion-body-custom">
      <ul class="list-group">
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="overview-dashboard-button" type="button" class="button-custom">
            <i class="fa-solid fa-chart-pie icon-button"></i>
            <span class="text-button">General</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="cases-dashboard-button" type="button" class="button-custom">
            <i class="fa-solid fa-gavel icon-button"></i>
            <span class="text-button">Casos</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="tasks-dashboard-button" type="button" class="button-custom">
            <i class="fa-solid fa-list-check icon-button"></i>
            <span class="text-button">Tareas</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="calendar-dashboard-button" type="button" class="button-custom">
            <i class="fa-solid fa-calendar-days icon-button"></i>
            <span class="text-button">Calendario</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="finances-dashboard-button" type="button" class="button-custom">
            <i class="fa-solid fa-euro-sign icon-button"></i>
            <span class="text-button">Finanzas</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="communications-dashboard-button" type="button" class="button-custom">
            <i class="fa-solid fa-comments icon-button"></i>
            <span class="text-button">Comunicaciones</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</li>