<div class="page form--default--theme">
  <div class="asidebar-menu">
    <div class="logo">
      <img src="/images/logo_pionlex_alargado.png" alt="logotipo">
    </div>
    <aside id="asidenav-menu" class="accordion asidenav-menu">
      <nav>
        <ul id="asidenav-menu-modules" class="list-group"></ul>
      </nav>
    </aside>
    <footer class="footer">
      <div class="text-footer">
        <p>&copy;<span data-footer-year>2024</span> - Pion Lex</p>
        <p>Todos los derechos reservados</p>
      </div>
      <img src="/images/logo_pionlex_footer.png" alt="logotipo">
    </footer>
  </div>
  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-menu-left">
      <div type="button" class="burger">
        <i class="fa-solid fa-bars fa-lg"></i>
      </div>
      <form role="search">
        <i class="fa-solid fa-magnifying-glass form__icon form__icon__left"></i>
        <input class="form-control form__input" type="search" placeholder="Buscar..." aria-label="Search">
        <button class="btn form__button right-rounded-button" type="submit">Buscar</button>
      </form>
    </div>
    <ul class="navbar-menu-right">
      <li class="dropdown">
        <div class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-grip-vertical"></i>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-row-items">
            <a class="dropdown-icon-item" href="#">
              <img src="/images/slack.png" alt="slack">
              <span>Slack</span>
            </a>
            <a class="dropdown-icon-item" href="#">
              <img src="/images/gmail.png" alt="gmail">
              <span>Gmail</span>
            </a>
            <a class="dropdown-icon-item" href="#">
              <img src="/images/microsoft_office.png" alt="microsoft office">
              <span>Office</span>
            </a>
          </div>
          <div class="dropdown-row-items">
            <a class="dropdown-icon-item" href="#">
              <img src="/images/google_calendar.png" alt="google calendar">
              <span>Calendar</span>
            </a>
            <a class="dropdown-icon-item" href="#">
              <img src="/images/freshbooks.png" alt="freshbooks">
              <span>Freshbooks</span>
            </a>
            <a class="dropdown-icon-item" href="#">
              <img src="/images/dropbox.png" alt="dropbox">
              <span>Dropbox</span>
            </a>
          </div>
        </div>
      </li>
      <li class="dropdown">
        <div class="dropdown-toggle arrow-none position-relative" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-bell"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            4
          </span>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-notification">
            <a class="dropdown-notification-item" href="#">
              <img src="/images/slack.png" alt="slack">
              <div class="dropdown-notification-item-text">
                <strong><span>Nuevo Mensaje de Jordi</span></strong>
                <span class="truncate">Hola, ¿puedes revisar el caso 5423? Ha habido un problema y tenemos que solucionarlo lo más rápido posible</span>
              </div>
            </a>
            <button type="button" class="dropdown-notification-item-close" aria-label="Cerrar">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="dropdown-notification">
            <a class="dropdown-notification-item" href="#">
              <img src="/images/dropbox.png" alt="dropbox">
              <div class="dropdown-notification-item-text">
                <strong><span>Nuevo documento en Dropbox</span></strong>
                <span class="truncate">Contrato_Alba_Caso5423.pdf compartido por Juan Pérez.</span>
              </div>
            </a>
            <button type="button" class="dropdown-notification-item-close" aria-label="Cerrar">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="dropdown-notification">
            <a class="dropdown-notification-item" href="#">
              <img src="/images/google_calendar.png" alt="google calendar">
              <div class="dropdown-notification-item-text">
                <strong><span>Nueva cita</span></strong>
                <span class="truncate">Reunión con el cliente María López, 15:00 en Sala 2.</span>
              </div>
            </a>
            <button type="button" class="dropdown-notification-item-close" aria-label="Cerrar">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="dropdown-notification">
            <a class="dropdown-notification-item" href="#">
              <i class="fa-solid fa-clock"></i>
              <div class="dropdown-notification-item-text">
                <strong><span>Tarea pendiente</span></strong>
                <span class="truncate">Revisar el expediente del caso 1234 antes de mañana.</span>
              </div>
            </a>
            <button type="button" class="dropdown-notification-item-close" aria-label="Cerrar">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </li>
      <li id="theme-switcher">
        <i id="sun-icon" class="fa-solid fa-sun d-none"></i>
        <i id="moon-icon" class="fa-solid fa-moon moon"></i>
      </li>
      <li class="dropdown">
        <div class="dropdown-toggle arrow-none profile" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="images/profile_picture/carme_sole_roca.jpg" alt="Imagen de perfil" class="profile-photo">
          <div class="data-profile">
            <p class="name-user">Andrea Garcia</p>
            <p class="position-user">Abogada Laboral</p>
          </div>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-profile">
            <a class="dropdown-profile-item" href="#">
              <i class="fa-solid fa-user"></i>
              <span>Cuenta</span>
            </a>
          </div>
          <div class="dropdown-profile">
            <a class="dropdown-profile-item" href="#">
              <i class="fa-solid fa-gear"></i>
              <span>Configuración</span>
            </a>
          </div>
          <div class="dropdown-profile">
            <a class="dropdown-profile-item" href="#">
              <i class="fa-solid fa-right-from-bracket"></i>
              <span>Cerrar Sesión</span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div id="content-page" class="content-page"></div>
</div>