<div class="page">
  <div class="asidebar-menu">
    <div class="logo">
      <img src="/images/logo_pionlex_alargado.png" alt="Pion Lex Logo">
    </div>
    <aside id="asidenav-menu" class="accordion asidenav-menu">
      <nav>
        <ul id="asidenav-menu-modules" class="list-group"></ul>
      </nav>
    </aside>
    <footer class="footer">
      <div class="text-footer">
        <p>&copy;2024 - Pion Lex</p>
        <p>Todos los derechos reservados</p>
      </div>
      <div class="img-footer">
        <img src="/images/logo_pionlex_footer.png" alt="Pion Lex Logo">
      </div>
    </footer>
  </div>
  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-menu-left">
      <button type="button" class="button">
        <i class="fa-solid fa-bars fa-xl burger"></i>
      </button>
      <form class="form--dark--theme" role="search">
        <i class="fa-solid fa-magnifying-glass form__icon"></i>
        <input class="form-control form__input" type="search" placeholder="Buscar..." aria-label="Search">
        <button class="btn form__button right-rounded-button" type="submit">Buscar</button>
      </form>
    </div>
    <div class="navbar-menu-right">
      <div class="icons">
        <span class="material-symbols-outlined app-dots">apps</span>
        <i class="fa-solid fa-gear gear"></i>
        <i class="fa-solid fa-moon moon"></i>
      </div>
      <div class="profile">
        <div class="data-profile">
          <p class="name-user">Andrea Garcia</p>
          <p class="position-user">Abogada Laboral</p>
        </div>
        <div class="img-profile">
          <img src="images/profile_picture/carme_sole_roca.jpg" alt="Imagen de perfil" class="profile-photo">
        </div>
      </div>
    </div>
  </div>
  <div id="content-page" class="content-page"></div>
</div>