<li class="list-group-item list-group-item-custom accordion-item">
  <button class="accordion-button asidenav-menu-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-modulo8" aria-expanded="false" aria-controls="collapse-modulo8">
    <i class="fa-solid fa-prescription-bottle icon-button"></i>
    <span class="text-button">Módulo 8</span>
    <i class="fa-solid fa-chevron-down fa-rotate-270 fa-2xs arrow-button-custom"></i>
  </button>
  <div id="collapse-modulo8" class="accordion-collapse collapse" data-bs-parent="#asidenav-menu">
    <div class="accordion-body-custom">
      <ul class="list-group">
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="opcion1-modulo8-button" type="button" class="button-custom">
            <i class="fa-solid fa-address-book icon-button"></i>
            <span class="text-button">Opcion 1</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="opcion2-modulo8-button" type="button" class="button-custom">
            <i class="bi bi-people-fill icon-button"></i>
            <span class="text-button">Opcion 2</span>
          </button>
        </li>
        <li class="list-group-item list-group-item-custom list-group-item-custom-level-1">
          <button id="opcion3-modulo8-button" type="button" class="button-custom">
            <i class="fa-solid fa-scale-balanced icon-button"></i>
            <span class="text-button">Opcion 3</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</li>