
<div class="background">
  <div class="translucent-layer-1"></div>
  <div class="translucent-layer-2"></div>
  <div class="translucent-layer-3"></div>

  <div id="login-container" class="cards-container">

    <div id="login-card">

      <div class="card">

        <img src="/images/card-image-top-login.jpg" class="card-img-top" alt="Pion Lex Logo">
        
        <div class="card-body">

          <form id="login-form" method="POST" class="form--login--register" autocomplete="off" novalidate>

            <h1 class="form__title">LOGIN</h1>

            <div class="input-group">
              <span class="input-group-text form__input">
                <i class="bi bi-person-fill form__icon"></i>
              </span>
              <input type="text" class="form-control form__input mb-14" data-email name="email" placeholder="EMAIL" required />
            </div>
            <span class="form__validation__error d-none" data-error-for="email"></span>

            <div class="input-group">
              <span class="input-group-text form__input">
                <i class="bi bi-key-fill form__icon"></i>
              </span>
              <input type="password" class="form-control form__input mb-14" data-password name="password" placeholder="CONTRASEÑA" required />
            </div>
            <span class="form__validation__error d-none" data-error-for="password"></span>

            <label class="form__label">
              <div class="save-password">
                <input type="checkbox" id="save-password" class="form-check-input form__checkbox" name="remember" />
                Guardar contraseña
              </div>
              <button id="lost-password-link" type="button" class="form__button__link">¿Has olvidado tu contraseña?</button>
            </label>

            <div class="button">
              <button id="loginUserButton" type="submit" class="form__button">ENTRAR</button>
              <button id="logingUserButton" class="form__button loadingButton d-none" type="button" disabled>
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span role="status">Entrando...</span>
              </button>
            </div>

          </form>

        </div>

      </div>
      
    </div>

    <div class="register-div">
      <span>¿No tienes usuario?</span>
      <span class="link" data-registerLink>Regístrate</span>
    </div>

  </div>

  <div id="register-container" class="cards-container d-none">

    <div id="register-card">

      <div class="card">

        <img src="/images/card-image-top-register.jpg" class="card-img-top" alt="Pion Lex Logo">
        
        <div class="card-body">

          <form id="register-form" method="POST" class="form--login--register" autocomplete="off" novalidate>

            <h1 class="form__title">DESPACHO</h1>

            <input type="text" class="form-control form__input mb-14" data-officeName name="officeName" placeholder="Nombre Despacho" required />
            <span class="form__validation__error d-none" data-error-for="officeName"></span>

            <input type="text" class="form-control form__input mb-14" data-cif name="cif" placeholder="CIF" required />
            <span class="form__validation__error d-none" data-error-for="cif"><i class="fa-solid fa-circle-exclamation"></i></span>

            <input type="text" class="form-control form__input mb-14" data-invitationCode name="invitationCode" placeholder="Código de invitación" required />
            <span class="form__validation__error d-none" data-error-for="invitationCode"><i class="fa-solid fa-circle-exclamation"></i></span>

            <input type="text" class="form-control form__input mb-14" data-name name="name" placeholder="Nombre" required />
            <span class="form__validation__error d-none" data-error-for="name"><i class="fa-solid fa-circle-exclamation"></i></span>

            <input type="text" class="form-control form__input mb-14" data-lastname name="lastname" placeholder="Apellidos" required />
            <span class="form__validation__error d-none" data-error-for="lastname"><i class="fa-solid fa-circle-exclamation"></i></span>

            <input type="email" class="form-control form__input mb-14" data-email name="email" placeholder="Email" required />
            <span class="form__validation__error d-none" data-error-for="email"><i class="fa-solid fa-circle-exclamation"></i></span>

            <input type="password" class="form-control form__input mb-14" data-password name="password" placeholder="Contraseña" required />
            <span class="form__validation__error d-none" data-error-for="password"><i class="fa-solid fa-circle-exclamation"></i></span>

            <input type="password" class="form-control form__input mb-14" data-passwordConfirmation name="passwordConfirmation" placeholder="Confirmar Contraseña" required />
            <span class="form__validation__error d-none" data-error-for="passwordConfirmation"><i class="fa-solid fa-circle-exclamation"></i></span>

            <label class="form__label">
              <input type="checkbox" data-policyTerms class="form-check-input form__checkbox" name="dataPolicy" required />
              Acepto la
              <a href="/legal-docs/data-policy/1" class="form__button__link" target="_blank" rel="">Política de Privacidad</a>
              y
              <a href="/legal-docs/terms-of-use/1" class="form__button__link" target="_blank" rel="">Términos de Uso.</a>
            </label>
            <span class="form__validation__error" data-error-for="policyTerms">
              <i class="fa-solid fa-circle-exclamation d-none"></i>
            </span>
            
            <div class="button">
              <button id="saveUserButton" type="submit" class="form__button">REGISTRAR</button>
              <button id="savingUserButton" class="form__button loadingButton d-none" type="button" disabled>
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span role="status">Guardando...</span>
              </button>
            </div>
            
          </form>

        </div>

      </div>
      
    </div>

    <div class="register-div">
        <span>¿Ya tienes usuario?</span>
        <span class="link" data-loginLink data-container="register-container">LogIn</span>
    </div>

  </div>

  <div id="forgot-password-container" class="cards-container d-none">

    <div id="forgot-password-card">

      <div class="card">

        <img src="/images/card-image-top-forgot-password.jpg" class="card-img-top" alt="Pion Lex Logo">
        
        <div class="card-body">

          <form id="forgot-password-form" method="POST" class="form--login--register" autocomplete="off" novalidate>

            <div>
              <h1 class="form__title">RECUPERAR CONTRASEÑA</h1>
              <p>Introduzca la dirección de correo electrónico:</p>
            </div>

            <div>
              <input type="email" class="form-control form__input mb-14" data-email name="email" placeholder="Email" required />
              <span class="form__validation__error d-none" data-error-for="email"><i class="fa-solid fa-circle-exclamation"></i></span>
            </div>

            <div class="button">
              <button id="continueButton" type="submit" class="form__button">CONTINUAR</button>
              <button id="continuingButton" class="form__button loadingButton d-none" type="button" disabled>
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span role="status">Continuando...</span>
              </button>
              <button id="returnButton" data-loginLink data-container="forgot-password-container" type="button" class="form__button">VOLVER</button>
            </div>

          </form>

        </div>

      </div>
      
    </div>

  </div>

  <div id="recover-password-container" class="cards-container d-none">

    <div id="recover-password-card">

      <div class="card">

        <img src="/images/card-image-top-forgot-password.jpg" class="card-img-top" alt="Pion Lex Logo">
        
        <div class="card-body">

          <form id="recover-password-form" method="POST" class="form--login--register" autocomplete="off" novalidate>

            <div>
              <h1 class="form__title">RESTABLECER CONTRASEÑA</h1>
              <p>Introduzca la nueva contraseña:</p>
            </div>

            <div>
              <input type="password" class="form-control form__input mb-14" data-password name="password" placeholder="Nueva Contraseña" required />
              <span class="form__validation__error d-none" data-error-for="password"><i class="fa-solid fa-circle-exclamation"></i></span>

              <input type="password" class="form-control form__input mb-14" data-passwordConfirmation name="passwordConfirmation" placeholder="Confirmar Contraseña" required />
              <span class="form__validation__error d-none" data-error-for="passwordConfirmation"><i class="fa-solid fa-circle-exclamation"></i></span>
            </div>

            <div class="button">
              <button id="confirmButton" type="submit" class="form__button">CONFIRMAR</button>
              <button id="confirmingButton" class="form__button loadingButton d-none" type="button" disabled>
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span role="status">Confirmando...</span>
              </button>
            </div>

          </form>

        </div>

      </div>
      
    </div>

  </div>

  <footer class="footer">
    <p>&copy;2024 - Pion Lex. Todos los derechos reservados.</p>
  </footer>

</div>

<!-- Modals -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content form--dark--theme">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="notificationModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="form__button" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>