
<div class="background">
  <div class="translucent-layer-1"></div>
  <div class="translucent-layer-2"></div>
  <div class="translucent-layer-3"></div>

  <div id="container-login" class="container-cards">

    <div id="card-login">

      <div class="card">

        <img src="/images/card-image-top-login.jpg" class="card-img-top" alt="Pion Lex Logo">
        
        <div class="card-body">

          <form id="form-login" method="POST" class="form--login--sign-up" autocomplete="off" novalidate>

            <h1 class="form__title">LOGIN</h1>

            <div class="input-group">
              <span class="input-group-text form__input">
                <i class="bi bi-person-fill form__icon"></i>
              </span>
              <input type="text" class="form-control form__input" id="username" name="username" placeholder="USUARIO" required />
            </div>

            <div class="input-group">
              <span class="input-group-text form__input">
                <i class="bi bi-key-fill form__icon"></i>
              </span>
              <input type="password" class="form-control form__input" id="password-login" name="passwordLogin" placeholder="CONTRASEÑA" required />
            </div>

            <label class="form__label">
              <div class="save-password">
                <input type="checkbox" id="save-password" class="form-check-input form__checkbox" name="remember" />
                Guardar contraseña
              </div>
              <button id="lost-password" type="button" class="form__button__link">¿Has olvidado tu contraseña?</button>
            </label>

            <div class="button">
              <button type="submit" class="form__button">ENTRAR</button>
            </div>

          </form>

        </div>

      </div>
      
    </div>

    <div class="sign-up-div">
      <span>¿No tienes usuario?</span>
      <span id="sign-up-link">Regístrate</span>
    </div>

  </div>

  <div id="container-sign-up" class="container-cards d-none">

    <div id="card-sign-up">

      <div class="card">

        <img src="/images/card-image-top-sign-up.jpg" class="card-img-top" alt="Pion Lex Logo">
        
        <div class="card-body">

          <form id="form-sign-up" method="POST" class="form--login--sign-up" autocomplete="off" novalidate>

            <h1 class="form__title">DESPACHO</h1>

            <input type="text" class="form-control form__input" id="officeName" name="officeName" placeholder="Nombre Despacho" required />
            <input type="text" class="form-control form__input" id="cif" name="cif" placeholder="CIF" required />
            <input type="text" class="form-control form__input" id="invitationCode" name="invitationCode" placeholder="Código de invitación" required />
            <input type="text" class="form-control form__input" id="name" name="name" placeholder="N&#8203;ombre" required />
            <input type="text" class="form-control form__input" id="lastname" name="lastname" placeholder="Apellidos" required />
            <input type="email" class="form-control form__input" id="emailAddress" name="ema&#8203;ilAddress" placeholder="name@ejemplo.com" required />
            <input type="password" class="form-control form__input" id="passwordSignUp" name="passwordSignUp" placeholder="Contraseña" required />
            <input type="password" class="form-control form__input" id="confirmPasswordSignUp" name="confirmPasswordSignUp" placeholder="Confirmar Contraseña" required />

            <div class="policy-terms">
              <label class="form__label">
                <input type="checkbox" id="dataPolicy" class="form-check-input form__checkbox" name="dataPolicy" required />
                He leído y acepto la 
                <button id="data-policy" type="button" class="form__button__link">Política de Protección de Datos</button>
              </label>
            
              <label class="form__label">
                <input type="checkbox" id="termsOfUse" class="form-check-input form__checkbox" name="termsOfUse" required />
                He leído y acepto los 
                <button id="terms-of-use" type="button" class="form__button__link">Términos y Condiciones de Uso</button>
              </label>
            </div>
            
            <div class="button">
              <button type="submit" class="form__button">REGISTRAR</button>
            </div>
            
          </form>

        </div>

      </div>
      
    </div>

    <div class="sign-up-div">
        <span>¿Ya tienes usuario?</span>
        <span id="login-link">LogIn</span>
    </div>

  </div>

  <footer class="footer">
    <p>&copy;2024 - Pion Lex. Todos los derechos reservados.</p>
  </footer>

</div>

<!-- Modals -->
<div class="modal fade" id="userVerifyModal" tabindex="-1" aria-labelledby="userVerifyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content form--dark--theme">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="userVerifyModalLabel">Verificar Usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Te hemos enviado un correo electrónico para que confirmes tu usuario
      </div>
      <div class="modal-footer">
        <button type="button" class="form__button" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>