<h3 id="client-title">Clientes</h3>
<div class="clients-content">
  <div class="form--dark--theme">
    <button id="client_button" class="btn form__button client_button" type="submit">
      Añadir Cliente
      <i class="fa-solid fa-circle-plus"></i>
    </button>
  </div>
  <table id="clientsTable" class="table table-striped" style="width:100%">
    <thead>
      <tr>
          <th class="fw-bold">Cliente</th>
          <th class="fw-bold">Teléfono</th>
          <th class="fw-bold">Email</th>
          <th class="fw-bold">Población</th>
          <th class="fw-bold">Fecha de Alta</th>
          <th class="fw-bold">Estado</th>
          <th class="fw-bold">Acción</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteClientModal" tabindex="-1" aria-labelledby="deleteClientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteClientModalLabel">Borrar Cliente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro que quieres eliminar a este usuario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <!-- <button id="deleteClientButton" type="button" data-bs-dismiss="modal" class="btn">Eliminar</button> -->
        <button id="deleteClientButton" type="button" class="btn">Eliminar</button>
        <button id="deletingClientButton" class="btn d-none" type="button" disabled>
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          <span role="status">Eliminando...</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="deleteClientToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class=""></i>
      <strong class="me-auto">Eliminar</strong>
      <small>Ahora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"></div>
  </div>
</div>