<div class="container-fluid 100vh min-vh-100 position-relative bg-primary">
  <div class="row justify-content-center">
    <div class="col text-center position-absolute asidebar-menu">
      <div class="row justify-content-center align-items-center logo">
        <div class="col">
          <img src="/images/logo_pionlex_alargado.png" alt="Pion Lex Logo">
        </div>
      </div>
      <aside id="asidenav-menu" class="row asidenav-menu accordion pe-2">
        <nav>
          <ul class="list-group align-items-start">
            <li class="col-12 list-group-item list-group-item-custom-level-1 accordion-item">
              <button class="accordion-button asidenav-menu-button d-flex align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-modulo1" aria-expanded="false" aria-controls="collapse-modulo1">
                <i class="fa-solid fa-font-awesome fa-lg icon-button text-center"></i>
                <span class="fw-semibold text-button text-start">Módulo 1</span>
                <i class="fa-solid fa-chevron-down fa-rotate-270 fa-2xs arrow-button-custom"></i>
              </button>
              <div id="collapse-modulo1" class="accordion-collapse collapse" data-bs-parent="#asidenav-menu">
                <div class="accordion-body-custom">
                  <ul class="list-group align-items-start">
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="opcion1-modulo1-button" type="button" class="button-custom">
                        <i class="fa-solid fa-address-book"></i>
                        <span class="ps-1 fw-medium">Opcion 1</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="opcion2-modulo1-button" type="button" class="button-custom">
                        <i class="bi bi-people-fill"></i>
                        <span class="ps-1 fw-medium">Opcion 2</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="col-12 list-group-item list-group-item-custom-level-1 accordion-item">
              <button class="accordion-button asidenav-menu-button d-flex align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-modulo2" aria-expanded="false" aria-controls="collapse-modulo2">
                <i class="fa-solid fa-fax fa-lg icon-button text-center"></i>
                <span class="fw-semibold text-button text-start">Módulo 2</span>
                <i class="fa-solid fa-chevron-down fa-rotate-270 fa-2xs arrow-button-custom"></i>
              </button>
              <div id="collapse-modulo2" class="accordion-collapse collapse" data-bs-parent="#asidenav-menu">
                <div class="accordion-body-custom">
                  <ul class="list-group align-items-start">
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="opcion1-modulo2-button" type="button" class="button-custom">
                        <i class="fa-solid fa-address-book"></i>
                        <span class="ps-1 fw-medium">Opcion 1</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="opcion2-modulo2-button" type="button" class="button-custom">
                        <i class="bi bi-people-fill"></i>
                        <span class="ps-1 fw-medium">Opcion 2</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="opcion3-modulo2-button" type="button" class="button-custom">
                        <i class="fa-solid fa-scale-balanced"></i>
                        <span class="ps-1 fw-medium">Opcion 3</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="col-12 list-group-item list-group-item-custom-level-1 accordion-item">
              <button class="accordion-button asidenav-menu-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-crm" aria-expanded="true" aria-controls="collapse-crm">
                <i class="fa-solid fa-gavel fa-lg icon-button text-center"></i>
                <span class="fw-semibold text-button text-start">CRM</span>
                <i class="fa-solid fa-chevron-down fa-rotate-270 fa-2xs arrow-button-custom"></i>
              </button>
              <div id="collapse-crm" class="accordion-collapse collapse show" data-bs-parent="#asidenav-menu">
                <div class="accordion-body-custom">
                  <ul class="list-group align-items-start">
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="clients-crm-button" type="button" class="button-custom">
                        <i class="fa-solid fa-address-book"></i>
                        <span class="ps-1 fw-medium">Clientes</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="users-crm-button" type="button" class="button-custom">
                        <i class="bi bi-people-fill"></i>
                        <span class="ps-1 fw-medium">Usuarios</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="users-crm-button" type="button" class="button-custom">
                        <i class="fa-solid fa-scale-balanced"></i>
                        <span class="ps-1 fw-medium">Procesos Judiciales</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="users-crm-button" type="button" class="button-custom">
                        <i class="fa-solid fa-file-lines"></i>
                        <span class="ps-1 fw-medium">Modelos de Documentos</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="users-crm-button" type="button" class="button-custom">
                        <i class="fa-solid fa-file-signature"></i>
                        <span class="ps-1 fw-medium">Firma Digital</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="users-crm-button" type="button" class="button-custom">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <span class="ps-1 fw-medium">Incidencias</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="users-crm-button" type="button" class="button-custom">
                        <i class="fa-solid fa-envelope"></i>
                        <span class="ps-1 fw-medium">Emails</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="col-12 list-group-item list-group-item-custom-level-1">
              <button class="asidenav-menu-button d-flex align-items-center" type="button">
                <i class="fa-solid fa-compact-disc fa-lg icon-button text-center"></i>
                <span class="fw-semibold text-button text-start">Módulo 4</span>
              </button>
            </li>
            <li class="col-12 list-group-item list-group-item-custom-level-1 accordion-item">
              <button class="accordion-button asidenav-menu-button d-flex align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-modulo5" aria-expanded="false" aria-controls="collapse-modulo5">
                <i class="fa-solid fa-atom fa-lg icon-button text-center"></i>
                <span class="fw-semibold text-button text-start">Módulo 5</span>
                <i class="fa-solid fa-chevron-down fa-rotate-270 fa-2xs arrow-button-custom"></i>
              </button>
              <div id="collapse-modulo5" class="accordion-collapse collapse" data-bs-parent="#asidenav-menu">
                <div class="accordion-body-custom">
                  <ul class="list-group align-items-start">
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="opcion1-modulo5-button" type="button" class="button-custom">
                        <i class="fa-solid fa-address-book"></i>
                        <span class="ps-1 fw-medium">Opcion 1</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="opcion2-modulo5-button" type="button" class="button-custom">
                        <i class="bi bi-people-fill"></i>
                        <span class="ps-1 fw-medium">Opcion 2</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="col-12 list-group-item list-group-item-custom-level-1">
              <button class="asidenav-menu-button d-flex align-items-center" type="button">
                <i class="fa-solid fa-location-pin fa-lg icon-button text-center"></i>
                <span class="fw-semibold text-button text-start">Módulo 6</span>
              </button>
            </li>
            <li class="col-12 list-group-item list-group-item-custom-level-1">
              <button class="asidenav-menu-button d-flex align-items-center" type="button">
                <i class="fa-solid fa-radiation fa-lg icon-button text-center"></i>
                <span class="fw-semibold text-button text-start">Módulo 7</span>
              </button>
            </li>
            <li class="col-12 list-group-item list-group-item-custom-level-1 accordion-item">
              <button class="accordion-button asidenav-menu-button d-flex align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-modulo8" aria-expanded="false" aria-controls="collapse-modulo8">
                <i class="fa-solid fa-prescription-bottle fa-lg icon-button text-center"></i>
                <span class="fw-semibold text-button text-start">Módulo 8</span>
                <i class="fa-solid fa-chevron-down fa-rotate-270 fa-2xs arrow-button-custom"></i>
              </button>
              <div id="collapse-modulo8" class="accordion-collapse collapse" data-bs-parent="#asidenav-menu">
                <div class="accordion-body-custom">
                  <ul class="list-group align-items-start">
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="opcion1-modulo8-button" type="button" class="button-custom">
                        <i class="fa-solid fa-address-book"></i>
                        <span class="ps-1 fw-medium">Opcion 1</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="opcion2-modulo8-button" type="button" class="button-custom">
                        <i class="bi bi-people-fill"></i>
                        <span class="ps-1 fw-medium">Opcion 2</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="opcion3-modulo8-button" type="button" class="button-custom">
                        <i class="fa-solid fa-scale-balanced"></i>
                        <span class="ps-1 fw-medium">Opcion 3</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="col-12 list-group-item list-group-item-custom-level-1 accordion-item">
              <button class="accordion-button asidenav-menu-button d-flex align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-modulo9" aria-expanded="false" aria-controls="collapse-modulo9">
                <i class="fa-solid fa-circle-question fa-lg icon-button text-center"></i>
                <span class="fw-semibold text-button text-start">Módulo 9</span>
                <i class="fa-solid fa-chevron-down fa-rotate-270 fa-2xs arrow-button-custom"></i>
              </button>
              <div id="collapse-modulo9" class="accordion-collapse collapse" data-bs-parent="#asidenav-menu">
                <div class="accordion-body-custom">
                  <ul class="list-group align-items-start">
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="opcion1-modulo9-button" type="button" class="button-custom">
                        <i class="fa-solid fa-address-book"></i>
                        <span class="ps-1 fw-medium">Opcion 1</span>
                      </button>
                    </li>
                    <li class="list-group-item list-group-item-custom-level-1 list-group-item-custom-level-2 border-0">
                      <button id="opcion2-modulo9-button" type="button" class="button-custom">
                        <i class="bi bi-people-fill"></i>
                        <span class="ps-1 fw-medium">Opcion 2</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </aside>
      <div class="row align-items-center pe-2 footer">
        <div class="col-8 pe-0 text-white text-end">
          <p class="m-0 fw-bold">&copy;2024 - Pion Lex</p>
          <p class="m-0 fw-bold">Todos los derechos reservados</p>
        </div>
        <div class="col-4 p-0">
          <img src="/images/logo_pionlex_footer.png" alt="Pion Lex Logo">
        </div>
      </div>
    </div>
    <div class="col text-center navbar-menu-content">
      <div class="row justify-content-between navbar-menu">
        <div class="col-4">
          <div class="row h-100">
            <div class="col-2 bg-info">1 de 2</div>
            <div class="col-10 bg-secondary">2 de 2</div>
          </div>
        </div>
        <div class="col-5">
          <div class="row h-100 justify-content-between">
            <div class="col-4 bg-info">1 de 2</div>
            <div class="col-5 bg-secondary">2 de 2</div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center content-page bg-danger">2 de 2</div>
    </div>
  </div>
</div>