<h3 id="client-title" class="section-title">Clientes</h3>
<div class="section-content">
  <div class="form--light--theme">
    <button id="addNewClientButton" type="button" data-bs-toggle="modal" data-bs-target="#clientCreateEditModal" class="btn form__button add-new-item-button">
      Añadir Cliente
      <i class="fa-solid fa-circle-plus"></i>
    </button>
  </div>
  <table id="clientsTable" class="table table-striped" style="width:100%">
    <thead>
      <tr>
          <th class="fw-bold">Cliente</th>
          <th class="fw-bold">Teléfono</th>
          <th class="fw-bold">Email</th>
          <th class="fw-bold">Población</th>
          <th class="fw-bold">Fecha de Alta</th>
          <th class="fw-bold">Estado</th>
          <th class="fw-bold">Acción</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<!-- Modals -->
<div class="modal fade" id="clientDeleteModal" tabindex="-1" aria-labelledby="clientDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="clientDeleteModalLabel">Borrar Cliente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro que quieres eliminar a este cliente?
      </div>
      <div class="modal-footer form--light--theme">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button id="deleteClientButton" type="button" class="btn form__button">Eliminar</button>
        <button id="deletingClientButton" class="btn form__button d-none" type="button" disabled>
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          <span role="status">Eliminando...</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="clientCreateEditModal" tabindex="-1" aria-labelledby="clientCreateEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="clientCreateEditModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="clientCreateEditForm" method="POST" class="form--light--theme" autocomplete="off" novalidate>
          <input id="name" type="text" name="name" class="form-control form__input" placeholder="Nombre" required />
          <input id="lastname" type="text" name="lastname" class="form-control form__input" placeholder="Apellidos" required />
          <input id="phoneNumber" type="tel" name="phoneNumber" class="form-control form__input" placeholder="Teléfono" required />
          <input id="email" type="email" name="email" class="form-control form__input" placeholder="nombre@ejemplo.com" required />
          <input id="city" type="text" name="city" class="form-control form__input mb-2" placeholder="Población" required />
          <label for="registrationDate" class="form__label mb-1">Fecha de Alta</label>
          <div class="form__input__date">
            <input id="registrationDate" type="date" name="registrationDate" class="form-control form__input mb-2" required />
            <i class="bi bi-calendar"></i>
          </div>
          <label for="status" class="form__label mb-1">Estado</label>
          <select id="status" name="status" class="form-select form__input" aria-label="Select para el estado del cliente" required>
            <option selected disabled value="">Selecciona el estado</option>
          </select>
        </form>
        <p id="errorAlert"></p>
      </div>
      <div class="modal-footer form--light--theme">
        <button id="cancelClientButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button id="saveClientButton" type="button" class="btn form__button">Guardar</button>
        <button id="savingClientButton" class="btn form__button d-none" type="button" disabled>
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          <span role="status">Guardando...</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="clientToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class=""></i>
      <strong class="me-auto"></strong>
      <small>Ahora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"></div>
  </div>
</div>