$colors: (
  custom-white: #fff,
  start-gradient-primary: #00DBDE,
  start-gradient-primary-disabled: #CAFEFF,
  start-gradient-secondary: #00BFC1,
  end-gradient: #FC00FF,
  dark-grey-primary: #2C3E50,
  dark-grey-secondary: #232D37,
  light-grey-primary: #F8F9FC,
  light-grey-secondary: #8391A2,
  light-white: #f0f1f5,
  input-bg: rgba(0, 0, 0, 0.22),
  input-text-color: #212529,
  light-red: #f0838e,
  bg-danger: #f8d7da,
  text-danger: #dc3545
);

$colors-status: (
  in-progress: (
    color: #003C62,
    background-color: #87CEFA
  ),
  awaiting-documentation: (
    color: #3E2800,
    background-color: #FFA500
  ),
  closed: (
    color: #fff,
    background-color: #696969
  ),
  new: (
    color: #005100,
    background-color: #90EE90
  ),
  pending-payment: (
    color: #fff,
    background-color: #009227
  ),
  under-review: (
    color: #564800,
    background-color: #FFD700
  ),
  awaiting-resolution: (
    color: #00264A,
    background-color: #1E90FF
  ),
  overdue: (
    color: #fff,
    background-color: #FF4500
  ),
  archived: (
    color: #271300,
    background-color: #CD853F
  ),
  pending-resolution: (
    color: #fff,
    background-color: #9E49EC
  ),
);