$colors: (
  custom-white: #fff,
  start-gradient: #00DBDE,
  start-gradient-opacity: #00BFC1,
  end-gradient: #FC00FF,
  dark-grey: #2C3E50,
  light-grey: #7F8C8D,
  white-opacity: #8391A2,
  input-bg: rgba(0, 0, 0, 0.22),
  input-text-color: #212529,
  light-red: #f0838e
);