@use 'typography';
@use 'colors';

$forms: (
  login: (
    title: (
      fs: 3rem,
      font-weight: 600,
      color: map-get(colors.$colors, 'custom-white'),
      ta: center
    ),
    input: (
      fs: 1.5rem,
      fw: 400,
      bs: none,
      color: map-get(colors.$colors, 'light-grey-secondary'),
      border: .75px solid map-get(colors.$colors, 'light-grey-secondary'),
      height: 4rem,
      bg: map-get(colors.$colors, 'dark-grey-secondary'),
      transition: all .3s,
      placeholder: (
        color: map-get(colors.$colors, 'light-grey-secondary')
      ),
      focus: (
        bc: map-get(colors.$colors, 'light-grey-primary')
      )
    ),
    validation-error: (
      color: map-get(colors.$colors, 'light-red'),
      fs: 1.4rem,
      fw: 00
    ),
    checkbox: (
      border: .75px solid map-get(colors.$colors, 'light-grey-secondary'),
      bg: map-get(colors.$colors, 'input-bg'),
      fs: 1.5rem,
      transition: all .3s,
      focus: (
        box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.2),
        border-color: rgba(255, 255, 255, 0.7)
      )
    ),
    label: (
      display: flex,
      ai: center,
      font-size: 1.5rem,
      font-weight: 400,
      color: map-get(colors.$colors, 'light-grey-secondary')
    ),
    button: (
      bc: map-get(colors.$colors, "start-gradient-primary"),
      width: 12rem,
      height: 3.5rem,
      font-size: 1.4rem,
      font-weight: 600,
      color: map-get(colors.$colors, "dark-grey-primary"),
      br: .5rem,
      border: none,
      transition: all .3s,
      hover: (
        bc: map-get(colors.$colors, "start-gradient-secondary")
      )
    ),
    button-link: (
      bc: transparent,
      border: none,
      td: underline,
      color: map-get(colors.$colors, "light-grey-secondary")
    ),
    icon: (
      color: map-get(colors.$colors, "custom-white"),
      fs: 1.8rem,
      width: 3rem
    )
  ),
  default-theme: (
    title: (
      fs: 2.5rem,
      font-weight: 600,
      color: map-get(colors.$colors, 'dark-grey-secondary'),
      mt: 0
    ),
    input: (
      fs: 1.4rem,
      fw: 500,
      br: .5rem,
      bs: none,
      padding: 0 1rem,
      color: map-get(colors.$colors, 'dark-grey-secondary'),
      border: 1px solid map-get(colors.$colors, 'light-grey-secondary'),
      height: 3.5rem,
      transition: border-color .3s,
      placeholder: (
        color: map-get(colors.$colors, 'light-grey-secondary'),
      ),
      focus: (
        bc: map-get(colors.$colors, 'dark-grey-primary')
      )
    ),
    label: (
      display: block,
      font-size: 1.3rem,
      color: map-get(colors.$colors, 'dark-grey-secondary')
    ),
    button: (
      bc: map-get(colors.$colors, "start-gradient-primary"),
      width: 15rem,
      height: 3.5rem,
      font-size: 1.4rem,
      font-weight: 700,
      color: map-get(colors.$colors, "dark-grey-secondary"),
      br: .5rem,
      border: none,
      transition: all .3s,
      hover: (
        bc: map-get(colors.$colors, "start-gradient-secondary")
      )
    ),
    button-cancel: (
      bc: map-get(colors.$colors, "dark-grey-primary"),
      color: map-get(colors.$colors, "custom-white"),
      font-weight: 500,
      hover: (
        bc: map-get(colors.$colors, "dark-grey-secondary"),
      )
    ),
    icon: (
      position: absolute,
      top: 50%,
      transform: translateY(-50%),
      color: map-get(colors.$colors, "dark-grey-secondary"),
    ),
    icon-left: (
      left: 1rem,
    ),
    icon-right: (
      right: 1rem,
    ),
    validation-error: (
      display: inline-block,
      color: map-get(colors.$colors, 'light-red'),
      fs: 1.4rem,
      fw: 600,
      mb: .4rem
    ),
    validation-error-icon: (
      mr: .5rem
    )
  ),
  dark-theme: (
    input: (
      color: map-get(colors.$colors, 'light-grey-secondary'),
      border: .75px solid map-get(colors.$colors, 'light-grey-secondary'),
      bg: map-get(colors.$colors, 'input-bg'),
      placeholder: (
        color: map-get(colors.$colors, 'light-grey-secondary')
      ),
      focus: ()
    ),
    icon: (
      color: map-get(colors.$colors, "custom-white"),
    ),
  )
);