<div class="legal">
  <div class="legal-menu">
    <div class="logo">
      <a href="/clients">
        <img src="/images/logo_pionlex_alargado.png" alt="logotipo">
      </a>
    </div>
    
    <nav class="legal-nav">
      <button id="data-policy" type="button" class="legal-nav-link">Política de Protección de Datos</button>
      <button id="terms-of-use" type="button" class="legal-nav-link">Términos y Condiciones de Uso</button>
    </nav>
  </div>
  
  <div id="legal-content" class="legal-content"></div>
</div>